.resource-label {
  font-weight: bold;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
}

.section-header {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
}

.actor-skills-entry{
  border: 2px solid black;
  padding: 2px;
}