.roll-card {
  border: 1px solid black;
}

.roll-card .card-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

.roll-card .roll-row {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.roll-card .roll-successes {
  border: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.roll-card .roll-row-singles{
    font-size: 12px;
    text-align: center;
}

.roll-card .roll-row-singles span {
    border: 1px solid gray;
    padding: 1px;
}